/* 添加这段样式后，Primary Button 会变成红色 */
:root:root {
  --bgc: #b0352f;
  --van-button-primary-background: var(--bgc);
  --van-nav-bar-height: 60px;
  --van-swipe-indicator-size: 10px;
  --van-cell-border-color: #fff;
  --van-nav-bar-background: var(--bgc);
  --van-nav-bar-title-text-color: #fff;
  --van-back-top-background: var(--bgc);
  --van-back-top-bottom: 70px;
}
